h1 {
  text-align:left;
  margin-top: auto;
  font-family: "Georgia";
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: 4px;
  font-size: 60px;
  color: #B7C1DC;
}

body {
  background: linear-gradient(#A10ABF, #741DB0, #4916AF);
  height: 100vh;
}

h2 {
  text-align:left;
  font-family: sans-serif;
  color: #B7C1DC;
}

progress{
  background-color: blue;
  border: 25px;
  display:inline-block;
  width: 100%;
}
img {
  border-radius: 25px;
  border: 10px;
}
#image-container {
  display: flex;
  justify-content: space-around;
}

#image-container img {
  height: 250px;
}

#image-container img:hover {
  opacity: 0.3;
}
